body {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(238, 200, 152);
}

p {
    font-size: 15px;
}

 header {
    background-color: red;
    display: inline-block;
    border-radius: 250px;
    padding: 50px;
    margin-top: -70px;
 }

 main {
    background-color: red;
    display: inline-block;
    margin: 100px;
    padding: 12px;
    border-radius: 100px;

 }

 footer {
    background-color: red;
    display: inline-block;

 }

 nav {
    background-color: red;
    border-radius: 50px;
 }

 a {
    display: block;
    margin: 12px
 }